
/*
Bryan Sevilla
date:9/28/2025
assignment: styles for project 2: Photo Gallery
*/

a:hover {
  background-color: whitesmoke;
}

body{
    background-color:#DDF4E7;
}
header {
  border: 5px solid;
  display:flex;
}
/*All buttons work only for second image */
button {
  border: 0;
  border-radius: 100px;
  padding: 0.4rem 1rem;
  background: #67C090;
  font-size: 20px;
  border:6px solid #124170
  
}

.logo {
  margin-right: 10px;
}
h1 {
  color:#124170;
  font-family:Arial, Helvetica, sans-serif
}

 .slides .nxt {
  float:right;
}
nav { 
  background-color:#67C090 ;
}
.site-nav > ul {
  display:flex;
  justify-content: space-between;
  list-style: none;
}
.site-nav a {
  color:#124170;
  font-weight: bold;
  font-family: sans-serif;
}
img {
  display:block;
  border: 1px solid;
  

}
main {
    padding: 2%;
    background-color:#26667F;
    overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#DDF4E7;
}

#myGallery{
  position:relative;
  width:500px; 
  height:400px; 
}
#myGallery img{
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}

#myGallery img.active{
  z-index: 2
}
figure{
    position:relative;
    max-width:275px;
    margin: 2% auto;
    border:5px solid #124170;
    box-shadow:3px 3px 5px #67C090;
}
figcaption{
 position:absolute;
	bottom:0;
	background-color:rgba(35, 75, 149,0.7);
	color:#fff;
	width:100%;
	padding:5% 0;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:1.5em;
	font-weight:bold;
}

.round{
    border-radius: 10px;
}    
#pamper, #full, #basic {
    margin: 0 2%;
}

footer {
   text-align: center;
    font-size: 0.85em;
    clear: left;
    background-color:#67C090;
    font-weight:lighter;
}
